<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <script type="text/javascript">
        $(document).ready(function() {
            $('#example-filter-placeholder').multiselect({
                enableFiltering: true,
                filterPlaceholder: 'Search for something...',
                maxHeight: 200
            });
        });
    </script>
</head>
<body>


<!--NAVBAR-->
<nav class="navbar navbar-light bg-light">

    <a th:href="@{/}" class="navbar-brand mb-0 h1">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
        </svg>
        Blog
    </a>

    <span class="navbar-brand mb-0 h1" sec:authorize="isAuthenticated()">Logged as:
        <span sec:authentication="principal.username"> User</span>
    </span>

    <div class="d-flex justify-content">
        <a th:href="@{/register}" sec:authorize="isAnonymous()" class="nav-item nav-link active">Sign up</a>
        <a th:href="@{/login}" sec:authorize="isAnonymous()" class="nav-item nav-link active">Sign in</a>
        <button sec:authorize="isAuthenticated()" class="btn btn-outline-primary" onclick="location.href='/logout';">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
            Logout
        </button>
    </div>

</nav>
<!--NAVBAR-->


<br>

<!--ADD POST-->
<div class="container bg-light pt-3 px-4 rounded" sec:authorize="isAuthenticated()">

    <!--TITLE-->
    <label th:text="${#authentication.getName()} + ', what are you thinking about?'" h></label>

    <form method="POST" action="#" th:action="@{/add_post}" th:object="${post}" class="flex justify-content-center" enctype='multipart/form-data'>
        <div class="form-group">

            <!--TAGS LABEL-->
            <div class="form-group">
                <div>
                    <select id="example-filter-placeholder" th:field="*{tags}" multiple="multiple">
                        <option th:each="i : ${allTags}" th:value="${i}" th:text="${i}"></option>
                    </select>
                </div>
            </div>

            <input type="text" class="form-control" placeholder="Add new tags" th:field="*{tags}"/>
            <span class="validationError"
                  th:errors="*{tags}" style="width: 300px; height: 500px;">tags Error
            </span>
            <br>

            <!--POST TEXT AREA-->
            <label th:for="post_content"></label>
            <textarea type="text" id="content" class="form-control" th:field="*{post_content}" style="display: none;"></textarea>
            <span class="validationError"
                  th:errors="*{post_content}" style="width: 300px; height: 500px;">post_content Error
                </span>

            <!--ATTACHMENT-->
            <div style="padding: 10px; margin-top: 20px;" id="fileList">
            </div>
            <hr class="py-2"/>

            <!--ADD ATTACHMENT-->
            <label for="file-upload" class="custom-file-upload">
                <p class="btn btn-outline-primary" style="cursor: pointer;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                    </svg><span class="p-4">Upload attachment</span>
                </p>
            </label>
            <input id="file-upload" type="file" name="files" style="display: none;" multiple onchange="javascript:updateList()" />

            <!--PUBLISH BUTTON-->
            <input class="btn btn-primary float-right" type="submit" value="Publish"/>

        </div>
    </form>
</div>
<!--ADD POST-->

<!--FILTERS / SORTING-->
<div class="sorting-filtering-buttons container bg-light p-3 px-4 rounded d-flex justify-content">

    <!--SEARCH-->
    <form class="form-inline" method="POST" action="#" th:action="@{/search}" enctype='multipart/form-data'>
        <input type="text" class="form-control mr-sm-2" placeholder="Search" th:value="*{filter}" name="filter"/>
        <button class="btn btn-primary mr-sm-2" type="submit">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
        </button>
    </form>

    <!--SORT-->
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
            </svg><span class="p-4">Sort by</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/sort/{id}(id=${0})}">Date (default)</a>
            <a class="dropdown-item" th:href="@{/sort/{id}(id=${1})}">Date descending</a>
            <a class="dropdown-item" th:href="@{/sort/{id}(id=${2})}">Amount of comments descending</a>
            <a class="dropdown-item" th:href="@{/sort/{id}(id=${3})}">Amount of comments </a>
            <a class="dropdown-item" th:href="@{/sort/{id}(id=${4})}">Amount of attachments descending</a>
            <a class="dropdown-item" th:href="@{/sort/{id}(id=${5})}">Amount of attachments</a>
        </div>
    </div>

    <!--CSV DOWNLOAD BUTTON-->
    <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-outline-primary mr-sm-2 download_CSV" type="submit" style="margin-left: auto;">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg><span class="p-4">Download .CSV</span>
    </button>

</div>

<!--FILTERS / SORTING-->

<!--POSTS-->
<div>
    <!--USERNAME-->
    <div th:each="currentPost: ${posts}" class="container bg-light mt-3 p-3 px-4 rounded">
        <span class="d-flex justify-content">
            <span th:if="${not #lists.isEmpty(currentPost.postsAuthors)}" th:each="postAuthor : ${currentPost.postsAuthors}">
                <a style="color: black;" th:href="@{/author/{authorId}(authorId=${postAuthor.id_author.id})}"><h4 th:text="${postAuthor.id_author.username + '&nbsp;'}"></h4></a>
            </span>
            <span th:unless="${not #lists.isEmpty(currentPost.postsAuthors)}">
                <h4 style="color: black;">Anonymous</h4>
            </span>

            <!--VIEW BUTTON-->
            <a class="btn btn-success mr-sm-2" style="margin-left: auto; color: white;" th:href="@{/post/{id}(id=${currentPost.id})}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                    <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg><span class="p-2">view</span>
            </a>

        </span>

        <!--POST-->
        <div>

            <!--TAGS-->
            <p>
                <span th:each="tag : ${#strings.listSplit(currentPost.tags,' ')} " style="display: inline;">
                    <a th:href="@{/search/{tag}(tag=${tag})}" th:text="' #' + ${tag}"></a>
                </span>
            </p>

            <!--CONTENT-->
            <p th:utext="${currentPost.post_content}"></p>
            <hr>

            <!--ATTACHMENTS-->
            <p th:each="attachment : ${currentPost.attachments}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paperclip" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                </svg><a class="p-3" th:href="@{/files/{file}(file=${attachment.filename})}" th:text="${attachment.filename}"></a>
            </p>

            <!--COMMENTS BUTTON-->
            <p style="text-align: right;">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" th:data-target="${'#collapse'+currentPost.id}" aria-expanded="false">
                    <span th:text="${#lists.size(currentPost.comments) + ' '}"></span>comments
                </button>
            </p>
            <hr>

            <!--COMMENTS FORM-->
            <div class="collapse" th:id="${'collapse'+currentPost.id}">

                <form sec:authorize="isAuthenticated()" class="p-2" method="POST" action="#" th:action="@{/add_comment}" enctype='multipart/form-data'>
                    <textarea class="form-control " rows="2" placeholder="Write a comment" th:field="*{comments.comment_content}"></textarea>
                    <span class="validationError"
                          th:errors="*{comments.comment_content}" style="width: 300px; height: 500px;">comment_content Error
                        </span>
                    <input type="hidden" th:value="${#authentication.getName()}" th:attr="name='username'"/>
                    <input type="hidden" th:value="${currentPost.id}" th:attr="name='id_post'"/>
                    <div class="d-flex flex-row-reverse">
                        <button class="btn btn-secondary mt-3" style="right: 0;" type="submit">
                            Comment
                        </button></div>
                    <hr>
                </form>


                <!--POST'S COMMENTS-->
                <div th:each="comment : ${currentPost.comments}" >
                    <div class="card card-body m-2 p-2">
                        <h4 th:text="${comment.username}"></h4>
                        <p th:text="${comment.comment_content}"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--POSTS-->

<!--FOOTER-->
<footer class="page-footer font-small bg-light" style="margin-top: 30px;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href=""> Mateusz Niewiadomski</a>
    </div>
</footer>
<!--FOOTER-->

<!--SHOWS UPLOADED FILES-->
<script>
        updateList = function() {
            var input = document.getElementById('file-upload');
            var output = document.getElementById('fileList');
            var children = "";
            for (var i = 0; i < input.files.length; i++) {
                children += '<p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paperclip" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/></svg> <a class="p-3" href="">' + input.files.item(i).name + '</a></p>';
            }
            output.innerHTML =  children;
        }

        $('#content').summernote({
            placeholder: 'Enter post',
            tabsize: 10,
            height: 100
          });

        $('button.download_CSV').click(function(e) {
            e.preventDefault();
            window.open('/files/Attachments.csv');
            window.open('/files/Authors.csv');
            window.open('/files/Comments.csv');
            window.open('/files/Posts.csv');
            window.open('/files/PostsAuthors.csv');
        });
    </script>
</body>